doctype
html
 head
  title #{title}
  link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
  link(href="stylesheets/style.css" rel="stylesheet")
 body
  nav
   center
    h1 IssueTracker
   hr
   &nbsp&nbsp
   a(href="http://127.0.0.1:5000/" class="active") Home &nbsp&nbsp
   a(href="http://127.0.0.1:5000/issues/") Issues
  br
  br
  p &nbsp&nbsp This is IssueTrackerApp and we are right here at HOME
