<ng4-loading-spinner></ng4-loading-spinner>
<nav>
    &nbsp;&nbsp;<a [routerLink]="['/userconsole/buses', userid]" routerLinkActive="active">Book Now</a>
    &nbsp;&nbsp;<a [routerLink]="['/userconsole/history', userid]" routerLinkActive="active">Booking History</a>
    &nbsp;&nbsp;<a [routerLink]="['/userconsole/details', userid]" routerLinkActive="active">My Details</a>
    <a routerLink="" class="btn btn-xs btn-primary" style="float:right;margin-right: 20px;">Log out</a>
</nav>
<br><br>
<div class="container" style="width: 40%;">
    <h1>Confirm Booking</h1>
    <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
        <div class="form-group">
            <label for="date">Date of Travel</label>
            <input type="date" class="form-control" id="date" name="date" [ngModel]="date" required #dateRef="ngModel">
            <div *ngIf="dateRef.invalid && (dateRef.dirty || dateRef.touched)" class="alert alert-danger">
                <div *ngIf="dateRef.errors.required">
                    date of travel is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="seats">No. of Seats</label>
            <input type="number" pattern="^\d+$" class="form-control" id="seats" name="seats" [ngModel]="seats" required #seatsRef="ngModel">
            <div *ngIf="seatsRef.invalid && (seatsRef.dirty || seatsRef.touched)" class="alert alert-danger">
                <div *ngIf="seatsRef.errors.required">
                    no. of seats is required.
                </div>
                <div *ngIf="seatsRef.errors.pattern">
                    enter positive value of seats.
                </div>
            </div>
        </div>
        <div class="form-group">
                <label for="routeno">Route No.</label>
                <input type="text" class="form-control" id="routeno" name="routeno" [ngModel]="bus.routeno" disabled="false">
        </div>
        <div class="form-group">
                    <label for="desc">Description</label>
                    <input type="text" class="form-control" id="desc" name="desc" [ngModel]="bus.desc" disabled="false">
        </div>
        <div class="form-group">
                <label for="fromcity">From</label>
                <input type="text" class="form-control" id="fromcity" name="fromcity" [ngModel]="bus.fromcity" disabled="false">
        </div>
        <div class="form-group">
                <label for="tocity">To</label>
                <input type="text" class="form-control" id="tocity" name="tocity" [ngModel]="bus.tocity" disabled="false">
        </div>
        <button type="submit" class="btn btn-info" [disabled]="formRef.invalid">Check and Pay</button>
        <br><br>
    </form>
</div>