<nav>
    &nbsp;&nbsp;<a routerLink="/adminconsole/buses" routerLinkActive="active">Buses</a>
    &nbsp;&nbsp;<a routerLink="/adminconsole/cities" routerLinkActive="active">Cities</a>
</nav>
<br><br>
<div class='panel panel-primary' style="margin-left: 10px;">
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Search: <input type='text' [(ngModel)]='descFilter' /></div>
        </div>
        <br>
        <input type="checkbox" [(ngModel)]="routenov"> Route No. <br>
        <input type="checkbox" [(ngModel)]="descv"> Description    <br>
        <input type="checkbox" [(ngModel)]="fromcityv"> From      <br>
        <input type="checkbox" [(ngModel)]="tocityv"> To <br>
        <input type="checkbox" [(ngModel)]="capacityv"> Capacity <br><br><br>
        <table class='table table-striped table-condensed' *ngIf='(buses && buses.length)&&(routenov || descv || fromcityv || tocityv || capacityv)'>
                <thead>
                        <tr>
                            <th style="min-width: 80px;" *ngIf="routenov">Route No.</th>
                            <th style="min-width: 80px;" *ngIf="descv">Description</th>
                            <th style="min-width: 100px;" *ngIf="fromcityv">From</th>
                            <th style="min-width: 100px;" *ngIf="tocityv">To</th>
                            <th style="min-width: 100px;" *ngIf="capacityv">Capacity</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor='let bus of buses | busFilter: descFilter'>
                            <td *ngIf="routenov">{{ bus.routeno}}</td>
                            <td *ngIf="descv">{{ bus.desc}}</td>
                            <td *ngIf="fromcityv">{{ bus.fromcity}}</td>
                            <td *ngIf="tocityv">{{ bus.tocity}}</td>
                            <td *ngIf="capacityv">{{ bus.capacity}}</td>
                            <td><a (click)="updatebus(bus._id)" class="btn btn-xs btn-primary">Edit</a></td>
                            <td><a (click)="deletebus(bus._id)" class="btn btn-xs btn-danger">Delete</a></td>
                        </tr>
                </tbody>
        </table>
        <br>
        <b><a routerLink="/adminconsole/buses/history">Booking History</a></b>
        <br><br><br>
        <a routerLink="/adminconsole/buses/addbus" class="btn btn-xs btn-primary">Add Bus</a>
        <br><br>
    </div>
</div>
