<br><br>
<fieldset>
    <legend>{{nameFromServer}}</legend>
    <table>
        <tr>
            <td>Description</td>
            <td>&nbsp;:&nbsp;</td>
            <td>{{descFromServer}}</td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>&nbsp;:&nbsp;</td>
            <td>{{manfFromServer}}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>&nbsp;:&nbsp;</td>
            <td>{{priceFromServer}}</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>&nbsp;:&nbsp;</td>
            <td>{{quantFromServer}}</td>
        </tr>
    </table>
</fieldset>