<br><br>
<fieldset>
    <legend>{{nameFromServer}}</legend>
    <table>
        <tr>
            <td>Description</td>
            <td>&nbsp;:&nbsp;</td>
            <td>{{descFromServer}}</td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>&nbsp;:&nbsp;</td>
            <td>{{manfFromServer}}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>&nbsp;:&nbsp;</td>
            <td>{{priceFromServer}}</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>&nbsp;:&nbsp;</td>
            <td>{{quantFromServer}}</td>
        </tr>
    </table>
    <button mat-raised-button class="floatRight" color="warn" (click)="delete(id)">Delete</button>
    <a [routerLink]="['/productinventory/product/edit', id]" class="floatRight"><button mat-raised-button color="primary">Edit</button></a>
</fieldset>